.sidebar-container {
  display: flex;
  align-items: stretch;
}

.sidebar-background {
  background-color: #1c2833;
  color: white;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-background.expanded {
  width: 250px;
}

.sidebar-background:not(.expanded) {
  width: 60px;
}

.card-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100% - 60px); /* Adjust height to leave space for the footer */
}

.profile-success-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.pop-heading {
  margin-left: 10px;
  font-size: 25px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.sidebar-item:hover {
  background-color: #34495e;
}

.nav-item-mobile-link {
  font-size: 24px;
}

.blue-icon{
  background-color: #2980b9;
  border-radius: 20px;
  margin:20px;
}

.sidebar-description {
  margin-left: 10px;
  font-size: 16px;
}

.last-item {
  padding: 10px 20px;
}

.sidebar-footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.sidebar-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #2980b9;
}

.sidebar-toggle-button {
  background-color: #adaeaf;
  color: rgb(63, 58, 58);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  cursor: pointer;
  height:50px;
  width:30px;
  align-self: center;
  margin-left: -1px; /* Slight overlap to hide any gaps */
}

.sidebar-toggle-button:hover {
  background-color: #a0b7c7;
}
